<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <%= link_to 'FinanceTracker', root_path, class: "navbar-brand"%>
            <% if current_user%>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= 'active' if request.path == my_portfolio_path%>">
                <%= link_to 'My Portfolio', my_portfolio_path, class: "nav-link"%>
                </li>
                <li class="nav-item">
                <%= link_to 'My Friends', my_friends_path, class: "nav-link"%>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to edit_user_registration_path, class: "dropdown-item" do%>
                        <%= fa_icon 'edit'%> Edit Profile
                    <%end%>
                    
                </div>
                </li>
            </ul>
            <ul class= 'navbar-nav ml-auto'>
                <li class= 'nav-item user-name'>
                    <%=fa_icon 'user'%> <%= current_user.full_name%>
                </li>
                <li class= 'nav-item'>
                    <%= link_to('Logout', destroy_user_session_path, class: "btn btn-danger logout-button", method: :delete) %>
                </li>
            </ul>
        </div>
        <%end%>
    </div>
    </nav>
    <div class="container">
    </div>
</body>